extend ../layouts/main-layout.pug
block styles 
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")
block content 
  main
  form.login-form(action='/login' method='POST' novalidate)
    if errorMessage 
      div.flash #{errorMessage}
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-control
      label(for='email') Email
      input#title(type='email', name='email' value=oldData ? oldData.email : '')
    .form-control
      label(for='password') Password
      input#imageUrl(type='password', name='password' value=oldData ? oldData.password : '')
    button.btn(type='submit') Login
  .centered 
    a(href='/reset-password') Forgot password?