extend ../layouts/main-layout.pug
block styles 
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")
block content 
  main
  form.login-form(action='/sign-up' method='POST')
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-control
      label(for='email') Email
      input#title(type='email', name='email')
    .form-control
      label(for='password') Password
      input#imageUrl(type='password', name='password')
    .form-control
      label(for='confirm-password') Password Confirm
      input#imageUrl(type='password', name='confirm-password')
    button.btn(type='submit') Sign Up