extend ../layouts/main-layout.pug
block styles 

block content
  main 
    if products.length > 0
      ul 
        each product in products 
          li 
            p #{product.title} (#{product.cartItem.quantity})
            form(action="/cart-delete-item" method='POST')
              input(type="hidden", value=product.id, name='productId') 
              button.btn Delete
      .centered 
        form(action='/create-order' method='POST')
          button.btn(type='submid') Order now
    else 
      h1 There is no product in cart

