extend ../layouts/main-layout.pug
block styles 

block content
  main 
    if orders.length > 0
      ul 
        each order in orders
          li 
            h1 # #{order.id}
            ul 
              each item in order.products
                li #{item.title} (#{item.orderItem.quantity}) 

    else 
      h1 There is no order here

